.guest {
  box-sizing: border-box;
  background-color:rgb(255,255,255,.75);
  border-radius: 10px;
  padding:8px 16px;
  max-width: 412px;
  box-sizing: border-box;
}

.guest__name {
  color: #D18823;
  font-weight: 400;
  padding: 10px 0;
}

.guest__additional-guests {
  background-color: rgb(209,136,35, .7);
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  /* font-size: 1.25rem; */
}

.guest__rsvp {
  margin-top: 20px;
}
.edit-guest__rsvp .bx--label {
  font-size: 1rem;
  color:#000;
}

.edit-guest__submit,
.edit-guest__submit:hover,
.edit-guest__submit:focus {
  margin-top:10px;
  background-color: #5EB1BF;
}