/* .guest {
  box-sizing: border-box;
  background-color:rgb(0,0,0,.5);
  padding:8px 16px 20px;
  max-width: 412px;
  box-sizing: border-box;
  color:#EEE;
} */

.guest__name {
  color: #ffae28;
  font-weight: 100;
  padding: 10px 0;
}

.guest__additional-guests {
  font-size: 1.25rem;
}

.guest__rsvp {
  margin-top: 20px;
}
.edit-guest__rsvp-label {
  font-size: 1rem;
  font-weight: 100;
}

.edit-guest__submit,
.edit-guest__submit:hover,
.edit-guest__submit:focus {
  margin-top:10px;
  background-color: #5EB1BF;
}