.app {
  max-width: 640px;
  padding:20px 0 0;
  position: relative;
}
.app__title {
  margin-top:0;
  text-align: center;
  font-weight: 400;
  color: #D18823;
  font-size:2.5rem;
  font-family: 'Great Vibes', cursive;
}
